.container-card{
    width: 420px;
    height: 500px;
    /*z-index: 25;*/

    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 8px;
    box-shadow:  0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

    padding: 10px 16px;
}

.container-tit-cad{
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
}

.container-close{
    display: flex;
}

.titulo{
    font: 32px SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    color: #1C1E21;
    margin: 5px 0px;
}

.button-close{
    margin-left: 215px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: black;
    font-size: 22px;   
}

.button-close:focus{
    outline:0; 
    outline:none; 
    outline-offset:0; 
    outline-offset:none; 
}

.button-close:hover{
    color: rgb(87, 85, 85);
    font-size: 26px;
}

.p-arg{
    font: 15px SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    color: #606770;
    margin-top: 1px;
}

.form-cadastro{
    display: flex;
    flex-direction: column;
}

.nome-sobrenome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-nome-sobrenome{
    width: 185px;
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

.input-email-senha{
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.p-nasc{
    font: 12px SFProText-Medium, Helvetica, Arial, sans-serif;
    color: #606770;
    margin: 2px 0px 4px;
}

.p-genero{
    font: 12px SFProText-Medium, Helvetica, Arial, sans-serif;
    color: #606770;
    margin: 10px 2px 0px 4px;
}

.date{
    display: flex;
    justify-content: space-between;
}

.select-date{
    width: 130px;
    height: 36px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-genero{
    display: flex;
    justify-content: flex-start;
}

.container-radio{
    width: 109.94px;
    height: 36px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-right: 10px;
}

.p-terms{
    font: 11px Helvetica, Arial, sans-serif;
    columns: #777777;
}

.button-cadastro{
    width: 194px;
    height: 36px;
    margin: auto;
    color: white;
    background-color: #42b72a;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

.button-cadastro:hover{
    background-color: #369923;
    cursor: pointer;
}