.container-vertical {
    display: flex;
    flex-direction: column;
}

.input {
    width: 364px;
    height: 52px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    background-color: #E8F0FE;
    
}

.input:focus{
    outline:0; 
    outline:none; 
    outline-offset:0; 
    outline-offset:none; 
    background-color: white;
}

.button-entrar{
    width: 395.5px;
    height: 58px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    font-size: 18px;
    background-color: #1877f2;
    color: white;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold;
}

.button-entrar:hover{
    background-color: #0c59bd;
    cursor: pointer;
}

.button-entrar:focus{
    outline:0; 
    outline:none; 
    outline-offset:0; 
    outline-offset:none; 
}

/*button criar nova conta*/
.button {
    width: 160px;
    height: 52px;
    margin: auto;
    border: 1px solid gainsboro;
    border-radius: 8px;
    font-size: 18px;
    background-color: #42b72a;
    color:white;
    font-weight: bold;
}

.button:focus{
    outline:0; 
    outline:none; 
    outline-offset:0; 
    outline-offset:none; 
}

.button:hover{
    background-color: #369923;
    cursor: pointer;
}

.centraliza{
    margin: auto;
}

.link-lost{
    color:#1877F2;
    text-decoration: none;
}

.link-lost:hover{
    text-decoration: underline;
}

.link-new-page{
    color:#1C1E21;
    font-weight: bold;
    text-decoration: none;
}


.link-new-page:hover{
    text-decoration: underline;
}





